@tailwind base;
@tailwind components;
@tailwind utilities;
    
body{
    margin: 0px;
    font-family:poppins;
    overflow-x: hidden;
    font-size: 16px;
    /* background: #000; */
    /* #2baeba */
    /* background: linear-gradient(to bottom, #fff0e4 ,#ffe8aa ) ; */
    /* background: linear-gradient(to bottom, #8ff3fc  ,#3eb4bf  ) ; */


}
h1 {
  font-size: 2.25rem;
}
h2 {
  font-size: 1.7rem;
}

h3 {font-size: 1.3rem;}

h4 {
  font-size: 1.1rem;
}
p{
  font-size: 1rem;
}
